<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>UserManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>HelloServlet</servlet-class> 
  </servlet>
   <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>web.EmployeeList</servlet-class> 
  </servlet>
   <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>

  <servlet>
		<servlet-name>adduser</servlet-name>
		<servlet-class>web.AddEmployeeServlet</servlet-class> 
  </servlet>
   <servlet-mapping>
    <servlet-name>adduser</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>updateuser</servlet-name>
		<servlet-class>web.UpdateEmployeeServlet</servlet-class> 
  </servlet>
   <servlet-mapping>
    <servlet-name>updateuser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  
   
  <servlet>
		<servlet-name>deleteuser</servlet-name>
		<servlet-class>web.DeleteEmployeeServlet</servlet-class> 
  </servlet>
   <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>adddepartment</servlet-name>
    <servlet-class>web.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>adddepartment</servlet-name>
      <url-pattern>/adddepartment</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>modifydepartment</servlet-name>
      <servlet-class>web.DeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>modifydepartment</servlet-name>
      <url-pattern>/modifydepartment</url-pattern>
  </servlet-mapping>
</web-app>